<% if pill == nil%>
  <%= link_to "Add", new_pill_path, remote: true %>
<% else %>

  <h4><%=pill.drug %></h4>
  <h5><%=pill.dose %></h5>
  <%= link_to "Edit", edit_pill_path(pill), remote: true %>
  <%= link_to "Delete", remove_pill_path(pill),remote: true %>
<% end %>
